doctype html
html
	head
		title= title 
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	block content
		body(style='background-color:#CECED1;')
			div.well

	include ../scripts
	script(src='/javascripts/Admin/list.js')
