doctype html
html
	head
		title= title 
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
		link(rel='stylesheet', href='/stylesheets/owl.theme.css')
		link(rel='stylesheet', href='/stylesheets/owl.transitions.css')
		link(rel='stylesheet', href='/stylesheets/owl.css')
	body
		
	div(style='padding-top:30px; margin-bottom:85px')
		h1 login	

			
	include scripts
	script(src='/javascripts/3rd/owl.carousel.js')
	script(src='/javascripts/index.js')