script(src='/javascripts/3rd/jquery-2.1.1.js')
script(src='/javascripts/3rd/effects.core.js')
script(src='/javascripts/3rd/effects.drop.js')
script(src='/javascripts/3rd/effects.slide.js')
script(src='/javascripts/3rd/bootstrap.js')
