doctype html
html
	head
		title 【Upload System】
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/semantic.css')
	body(style='background-color:#CECED1;')
		
	include scripts
	script(src='/javascripts/3rd/semantic.js')
	script(src='/javascripts/upload.js')
